div.container-fluid.mt-3
    div.card.mb-3
        div.card-header
            h5.card-title Latest posts
        div.card-body
            ul.list-group.list-group-numbered
                li.list-group-item.d-flex.justify-content-between.align-items-start
                    div.ms-2.me-auto
                        a(href="#") Post title 1
                li.list-group-item.d-flex.justify-content-between.align-items-start
                    div.ms-2.me-auto
                        a(href="#") Post title 1
                li.list-group-item.d-flex.justify-content-between.align-items-start
                    div.ms-2.me-auto
                        a(href="#") Post title 1
                li.list-group-item.d-flex.justify-content-between.align-items-start
                    div.ms-2.me-auto
                        a(href="#") Post title 1
                li.list-group-item.d-flex.justify-content-between.align-items-start
                    div.ms-2.me-auto
                        a(href="#") Post title 1


    div.card.mb-3
        div.card-header
            h5.card-title Tags
        div.card-body
            ol.list-group.list-group-numbered
                li.list-group-item.d-flex.justify-content-between.align-items-start
                    div.ms-2.me-auto
                        a(href="#") Tag 1
                    span.badge.text-bg-primary.rounded-pill 14
                li.list-group-item.d-flex.justify-content-between.align-items-start
                    div.ms-2.me-auto
                        a(href="#") Tag 1
                    span.badge.text-bg-primary.rounded-pill 14
                li.list-group-item.d-flex.justify-content-between.align-items-start
                    div.ms-2.me-auto
                        a(href="#") Tag 1
                    span.badge.text-bg-primary.rounded-pill 14
                li.list-group-item.d-flex.justify-content-between.align-items-start
                    div.ms-2.me-auto
                        a(href="#") Tag 1
                    span.badge.text-bg-primary.rounded-pill 14
                li.list-group-item.d-flex.justify-content-between.align-items-start
                    div.ms-2.me-auto
                        a(href="#") Tag 1
                    span.badge.text-bg-primary.rounded-pill 14


    div.card.mb-3
        div.card-header
            h5.card-title Categories
        div.card-body
                ol.list-group.list-group-numbered
                    li.list-group-item.d-flex.justify-content-between.align-items-start
                        div.ms-2.me-auto
                            a(href="#") Category 1
                        span.badge.text-bg-primary.rounded-pill 14
                    li.list-group-item.d-flex.justify-content-between.align-items-start
                        div.ms-2.me-auto
                            a(href="#") Category 1
                        span.badge.text-bg-primary.rounded-pill 14
                    li.list-group-item.d-flex.justify-content-between.align-items-start
                        div.ms-2.me-auto
                            a(href="#") Category 1
                        span.badge.text-bg-primary.rounded-pill 14
                    li.list-group-item.d-flex.justify-content-between.align-items-start
                        div.ms-2.me-auto
                            a(href="#") Category 1
                        span.badge.text-bg-primary.rounded-pill 14
                    li.list-group-item.d-flex.justify-content-between.align-items-start
                        div.ms-2.me-auto
                            a(href="#") Category 1
                        span.badge.text-bg-primary.rounded-pill 14

