div.card
    div.card-header
        div.row
            div.col-6
                i.bi.bi-person
                    span.mx-2 Dmitry Osin
            div.col-6.d-flex.justify-content-end
                i.bi.bi-calendar-day
                    span.mx-2 24.04.2024
    div.card-body
        h4.card-title.text-center.mb-3
            a(href='#') Post title 1
        p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas elementum sagittis lacinia. Sed diam augue, finibus nec fringilla eget, feugiat vitae nisi. Nullam sit amet semper tortor, sit amet varius risus. Sed sit amet pulvinar risus. Sed commodo ornare sollicitudin. Sed urna nunc, ullamcorper id est et, malesuada maximus orci. Mauris neque nisl, porta vitae consectetur sit amet, blandit eu enim. Etiam ac scelerisque turpis, vel eleifend urna. Duis vehicula ligula id nunc cursus elementum. Nam porta sit amet erat ut luctus. Duis dui dolor, condimentum id magna et, placerat condimentum tortor. Suspendisse potenti. Morbi nunc nisi, consequat sed dapibus porta, aliquet sit amet ex.
        a.btn.btn-primary(href='#') Read post
    div.card-footer.text-body-secondary
        div.row
            div.col-6
                a(href='#') Category 1
            div.col-6.d-flex.justify-content-end
                i.bi.bi-tag
                    span.mx-1 Tag1, Tag2, Tag3

div.card.mt-5
    div.card-header
        div.row
            div.col-6
                i.bi.bi-person
                    span.mx-2 Dmitry Osin
            div.col-6.d-flex.justify-content-end
                i.bi.bi-calendar-day
                    span.mx-2 24.04.2024
    div.card-body
        h4.card-title.text-center.mb-3
            a(href='#') Post title 2
        p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas elementum sagittis lacinia. Sed diam augue, finibus nec fringilla eget, feugiat vitae nisi. Nullam sit amet semper tortor, sit amet varius risus. Sed sit amet pulvinar risus. Sed commodo ornare sollicitudin. Sed urna nunc, ullamcorper id est et, malesuada maximus orci. Mauris neque nisl, porta vitae consectetur sit amet, blandit eu enim. Etiam ac scelerisque turpis, vel eleifend urna. Duis vehicula ligula id nunc cursus elementum. Nam porta sit amet erat ut luctus. Duis dui dolor, condimentum id magna et, placerat condimentum tortor. Suspendisse potenti. Morbi nunc nisi, consequat sed dapibus porta, aliquet sit amet ex.
        a.btn.btn-primary(href='#') Read post
    div.card-footer.text-body-secondary
        div.row
            div.col-6
                a(href='#') Category 2
            div.col-6.d-flex.justify-content-end
                i.bi.bi-tag
                    span.mx-1 Tag1, Tag2, Tag3