- var pageTitle = 'Blog'

include _partial/_head

body
    include _partial/_navbar

    div.content.page
        div.container-fluid
            div.row
                div.col-3.sidebar#sidebar
                    include _partial/_sidebar
                div.col-9.content#content
                    div.container-fluid.my-3
                        include _partial/_post

    include _partial/_footer

    include _partial/_scripts