include include/_head

body
    include include/_navbar

    div.content.page
        div.container-fluid
            div.row
                div.col-3.sidebar#sidebar
                    include include/_sidebar
                div.col-9.content#content
                    div.container-fluid.my-3
                        include include/_post

    include include/_footer

    include include/_scripts