- var pageTitle = 'Blog'
include _mixin/_mixins

include _partial/_head

body
    include _partial/_navbar

    div.content.page
        div.container-fluid
            div.row
                div.col-3.sidebar#sidebar
                    +latestPostsWidget(posts)
                    +categoriesWidget(categories, posts.length)
                    +tagsWidget(tags, posts.length)
                div.col-9.content#content
                    div.container-fluid.my-3
                        each post in posts
                            +shortPostWidget(post)
                    div.container-fluid.my-3
                        +pagination(pages)




    include _partial/_footer

    include _partial/_scripts