include include/_head

body
    include include/_navbar

    div.content.page
        div.container-fluid
            div.row
                div.col-2
                div.col-2.sidebar#sidebar
                div.col-6.content#content
                div.col-2

    include include/_footer

    include include/_scripts